{% load wagtailimages_tags %}
{% load static %}

<nav class="navbar navbar-expand navbar-light bg-light" data-aos="zoom-in">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
              <li class="nav-item">
                <a class="nav-link" href="#bio">bio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#studio">studio</a>
              </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
              <img class="nav-img" src="/media/logo.png" alt="">
        </a>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
              <li class="nav-item">
                <a class="nav-link" href="#galery">galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">kontakt</a>
              </li>
        </ul>
    </div>
</nav>


<style>

@media screen and (min-width: 601px) {
    .navbar-nav > li {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .nav-link {
        font-size: 1.2rem;
    }
    .nav-img {
        width: 100px;
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .navbar-nav > li {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .nav-link {
        font-size: 0.8rem;
    }
    .nav-img {
        width: 100px;
        height: auto;
    }
}
</style>
