{% load wagtailimages_tags wagtailcore_tags %} 
{% load static %} 

<div class="content custom-content">
    <div class="row no-gutters custom-row bg justify-content-md-center"
         style="background-color: black; background-image: url({{ MEDIA_URL }}/media/sekcja_5/1.jpg)" 
         data-aos="fade-in" data-aos-duration="1500" 
    >
        <div class="col-12 align-self-center justify-content-md-center" style="color: white; text-align: center;">
              <img class="nav-img" src="/media/logo_biale.png" alt="" data-aos="zoom-in">
        </div>
        <div class="col-12 align-self-center pb-5" style="text-align: center;" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
            <div class="scroll-down">
                <strong style='color: white;'>SCROLL DOWN</strong>
                </br>
                <i class="scroll-down fa fa-chevron-down" ></i>
            </div>
        </div>

   </div>

  <div class="w-100 pb-5"></div>

  <div class="row custom-row" id="bio" data-aos="fade-in">
      <div class="slider col-12 col-md-12 col-lg-12 col-sm-12 order-1" id="galery">
          {% for i in '012345678912345678'|make_list %}
            <div class="container">
                <a href="https://www.w3schools.com" target="_blank">
                  <img src="/media/sekcja_4/{{ forloop.counter }}.jpg" class="image">
                  <div class="middle"><div class="text"><i class="fa fa-instagram"></i></div></div>
                </a>
            </div>
          {% endfor %}
      </div>
  </div>

  <div class="row custom-row no-gutters" id="bio" data-aos="fade-in">
      <div class="col-md-6 col-12 order-4">
            <img src="/media/sekcja_2/1.jpg" alt="" data-aos="fade-left" />
      </div>
      <div class="col-md-6 col-12 order-3 text-padding">
          {{ page.selection_1_text|richtext }}
      </div>

      <div class="w-100 order-5"></div>


      <div class="col-md-6 col-12 order-6 order-md-7 text-padding" id="studio">
          {{ page.selection_2_text|richtext }}
      </div>
      <div class="col-md-6 col-12 order-7 order-md-6" data-aos="fade-right">
        <img src="/media/sekcja_3/1.jpg" alt=""/>
      </div>

      <div class="w-100 pb-5 order-8"></div>


      
      <div class="col-md-4 col-sm-4 mx-auto order-9" id="contact">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Adres email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Temat</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Wiadomość</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="form-group">
              <div id="recaptcha"><div>
          </div>
          </br>

          <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
      </div>

  </div>
</div>
<script>
    AOS.init({
        once: true
    });
    $('#navbar, ul, li, a').on('click', function(event){
       var id = $(this).attr("href"), topSpace = 30;

       $('html, body').animate({
           scrollTop: $(id).offset().top - topSpace
       }, 800);
       event.preventDefault();
    });
    var CaptchaCallback = function() {
        if ($('#recaptcha').length) {
            grecaptcha.render('recaptcha', {'sitekey' : '6Lc4yOEZAAAAAIRCUH0OI6J14iqmq-h0L7hVcR0b'});
        }
    };
    $(".slider")
        .not('.slick-initialized')
        .slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true
        });
    $(".scroll-down").on('click', function(event){
        $('html, body').animate({
           scrollTop: $(window).height()
       }, 1200);
       event.preventDefault();
    });
</script>

<style>
img {
    object-fit: cover;
    max-width: 100%;
}
.custom-row {
    height: 100vh;
}
.custom-content {
    padding: 0vw;     
    height: 100vh;
}
.selection_1 {
    padding-bottom: 10vw;
}
.selection_1 img {
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}
.grandchild {
    float: left;
}
.clearboth {
    clear: both;
}
.nav-img {
    width: 20vw;
    height: auto;
}

@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
    body {
        font-size: 3vw;
    }
  .text-padding {
      padding-top: 5%;
      padding-left: 7% !important;
      padding-rigth: 7% !important;
      padding-bottom: 7%;
  }
  .custom-content {
      padding: 1%;
      padding-left: 3%;
      padding-right: 3%;
      height: 100vh;
  }
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    body {
        font-size: 1vw;
    }
  .text-padding {
      padding-top: 7%;
      padding-left: 7% !important;
      padding-rigth: 7% !important;
      padding-bottom: 7%;
  }
  .custom-content {
      padding: 1%;
      padding-left: 3%;
      padding-right: 3%;
      height: 100vh;
  }

}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    body {
        font-size: 1vw;
    }
  .text-padding {
      padding-top: 7%;
      padding-left: 7% !important;
      padding-rigth: 7% !important;
      padding-bottom: 7%;
  }
  .custom-content {
      padding: 1%;
      padding-left: 3%;
      padding-right: 3%;
      height: 100vh;
  }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
    body {
        font-size: 1vw;
    }
  .text-padding {
      padding-top: 7%;
      padding-left: 7% !important;
      padding-rigth: 7% !important;
      padding-bottom: 7%;
  }

}
/* image instagram hover */
.container {
  position: relative;
  padding: 0%;
}
.container:hover .image {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 0.5;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* .text { color: black; font-size: 2em; } */

/* img backgroud */
.bg {
    / Center and scale the image nicely /
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* scroll down */
.scroll-down {
    color: #FF4081;
    animation: 2s pulse infinite;
}

@keyframes pulse{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
</style>
